<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tweeter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CA8AD1B1F662B2400C8307D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA8AD2F1F662B2400C8307D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CA8AD3A1F662B2400C8307D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
